.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.Header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.HeaderRight {
  display: flex;
  justify-content: flex-end;
}

.SubMenu {
  position: relative;
  top: -20px;
}

.Footer {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05);
}

.SideMenu {
  height: 100%;
}

.SideMenuVertical {
  height: 100%;
}

.PageContent {
  padding-left: 12px;
}

.ant-menu-horizontal {
  border-bottom: none;
  line-height: 24px;
  .ant-menu-submenu {
    padding-inline-end: 0;
    padding-inline-start: 0px;
    .ant-menu-submenu::after{
      border-bottom: none;
    }
  }
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after {
  border-bottom: none;
}

.ant-menu-light.ant-menu-horizontal >
.ant-menu-submenu,
.ant-menu-submenu-open::after,
.ant-menu-submenu:hover::after,
.ant-menu-item-open::after{
  border-bottom: 0px;
  border-bottom-width: 0px;
  border-bottom-color: #fff;
}
